<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
<!--
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
-->
    <li class="nav-quotes" role="menuitem"><a href="{{site.baseurl}}tag/quotes/">Quotes</a></li>
    <li class="nav-articles"  role="menuitem"><a href="{{site.baseurl}}tag/articles/">Articles</a></li>
</ul>
